<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>MVP</title>
</head>

<body>
    <header>
        <img class="logo" src="{{ url_for('static', filename='images/') }}" alt="logo">
        <button class="button_1"> button </button>
        <h1 class="title"> DA.I.LY PLANNER </h1>
        <button class="button_2"> button </button>
    </header>

    <main>
        <h2> Organize Your Day </h2>
        <p>Instructions here...</p>
        <form action="/generate_prompt" method="post">
            <input type="text" name="prompt">
            <input type="checkbox" name="time_checkbox">
            <label for="time_checkbox">Sort by time</label>
            <button class="generate" type="submit">Generate</button>
        </form>
        {% if generated_text %}
        <h2> Your Generated Schedule: </h2>
        <p>{{ generated_text }}</p>
        {% endif %}
    </main>

    <footer>
        <h3 class="creators"> Creator's names here... </h3>
        <button class="button_3"></button>
        <button class="Contact Us"> Contact Us </button>
    </footer>

</body>

</html>
